@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

* {
  padding: 0px;
  margin: 0px;
}

header {
  height: 300px;
  background-color: black;
  color: white;
  text-align: center;

}

header h1{
  font-size: 11em;
  font-family: 'Passion one', sans-serif;
  padding-top: 40px;
  font-weight: 400;
}

header p{
  font-size: 1.2em;
}

header a{
  text-decoration: none;
  color: white;
  font-family: 'sriracha';
  font-size: 1em;
}

header :hover a {
  text-decoration: underline;

}

main {
  
}

section.branco {
  max-width: 630px;
  
  
}

p.preto {
  padding-left: 30px;
  text-align: left;
  line-height: 2.1em;
  color: black;
  font-size: 4em;
  font-family: sriracha;
  padding-bottom: 150px;
  padding-top: 91px;
}

section#fundo {
  background-image: url(imagens/background001.jpg);
  background-attachment: fixed;
  position: relative;
  height: 1200px;

}

p#white {
  display: inline-block;
  background-color: #021401;
  color: white;
  text-align: left;
  font-family: sriracha;
  font-size: 4em;
  position: absolute;
  max-width: 630px;
  margin-left: 25px;
  top: 10%;
  padding-left: 2px;
  
}

section#fundo2{
  background-image: url(imagens/background002.jpg);
  background-attachment: fixed;
  position: relative;
  height: 1200px;
}

p#white2 {
  display: inline-block;
  background-color: #5f645ab9;
  color: white;
  text-align: left;
  font-family: sriracha;
  font-size: 4em;
  position: absolute;
  max-width: 630px;
  margin-left: 25px;
  top: 10%;
  padding-left: 2px;

}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 1.2em;
  
}

footer a {
  text-decoration: none;
  color: white;
  font-family: 
}

footer a:hover {
  text-decoration: underline;

}

